@model IEnumerable<WebApplication.Data.EmployeePhoneNumber>

@{
    ViewData["Title"] = "DisplayPhonenumber";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DisplayPhonenumber</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeePhoneNumber_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeePhoneNumber_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeePhoneNumber_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
